.posts {
    max-width: 60%;
    margin: auto;
    border-top: 1rem solid transparent;
    a {
        display: block;
        &+a {
            margin-top: 4rem;
        }
        strong {
            color: var(--color-white);
            font-size: 1.5rem;
            cursor: pointer;
        }
        p {
            color: var(--color-ice);
            font-size: 1.1rem;
            margin-top: 0.8rem;
        }
        >div {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            span {
                display: flex;
                align-items: center;
                color: var(--color-ice);
                svg {
                    margin-right: 0.8rem;
                }
                &+span {
                    margin-left: 2rem;
                }
            }
        }
    }
}

.loadMoreButton {
    color: var(--color-pink);
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-left: 40%;
}